$black-color: #000;
$main-color: #12bd95;
$main-gradient-color: linear-gradient(rgba(18, 189, 149,.75), rgba(14, 151, 110,.75));
$special-color: #26c064;
$pure-white: #ffffff;
$dark: #2e2e2e;
$black: #000000;
$gray: #999999;
$light-gray: #f5f5f5;
$facebook-color: #4267B2;
$twitter-color: #1DA1F2;
$instagram-color: #F56040;
$youtube-color: #FF0000;
$gr-color: #1bbc9b;
$linear: linear-gradient(90deg, rgba(2,0,36,0.4) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.3) 100%);
$green-gradient-color: linear-gradient(45deg, rgba(50, 222, 132,0.75), rgba(0, 106, 78, 0.75));
$test: linear-gradient(75deg, rgba(76, 184, 196,0.75), rgba(76, 184, 196, 0.75));
$yellow-gradient-color: linear-gradient(45deg, rgba(229, 182, 144, 0.75), rgba(232, 159, 41, 0.75));
$gold-gradient-color: linear-gradient(270deg, rgba(223,190,106,0.75), rgba(146,111,52,0.75));
$gold-gradient-color-hover: linear-gradient(270deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
$blue-gradient-color: linear-gradient(75deg, rgba(76, 184, 196,0.75), rgba(76, 184, 196, 0.75));
//$test: radial-gradient(rgba(57, 117, 117, 0.75), #385858);
$blue-gradient-color2: linear-gradient(75deg, rgba(57, 117, 117, 0.75), rgba(76, 184, 196, 0.75));
$test3: radial-gradient(rgba(57, 117, 117, 0.75), #385858);
$test4: linear-gradient(rgba(79, 163, 163,0.75), rgba(69, 112, 112,0.75));
$test5: linear-gradient(to top, rgba(167, 166, 203, 0.75) 0%,rgba(137, 137, 186, 0.75) 52%,rgba(137, 137, 186, 0.75) 100%);
$test6: linear-gradient(to top, rgba(80, 82, 133, 0.75) 0%, rgba(88, 94, 146, 0.75) 12%, rgba(101, 104, 159, 0.75) 25%, rgba(116, 116, 176, 0.75) 37%, rgba(126, 126, 187, 0.75) 50%,rgba(130, 136, 199, 0.75) 62%, rgba(151, 149, 212, 0.75) 75%, rgba(163, 162, 221, 0.75) 87%, rgba(181, 174, 228, 0.75) 100%);
$test7: linear-gradient(0deg, rgb(57, 56, 68, 0.75) 0, rgba(98,98,135, 0.75) 52%, rgba(98,98,135, 0.75));
$test8: linear-gradient(0deg, rgba(137,136,186,.75) 0,rgba(103,103,169,.75) 52%,rgba(103,103,169,.75));
$purple-gradient-color: linear-gradient(75deg, rgba(103,103,169,.75), rgba(84, 84, 138, 0.75));
$black-gradient-color: linear-gradient(to right, #434343 0%, black 100%);
$button-color: radial-gradient(#12bd95, #15a785);