
$black-color: #000;
$main-color: #12bd95;
$special-color: #26c064;
$pure-white: #ffffff;
$dark: #2e2e2e;
$black: #000000;
$gray: #999999;
$light-gray: #f5f5f5;
$linear: linear-gradient(90deg, rgba(2,0,36,0.4) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.3) 100%);