
@use '_colors.scss' as *;
@use '_components.scss' as *;
@use '_mixins.scss' as *;

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
	color: #333;
	font-family: "Montserrat", sans-serif;
}

//navbar
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 100%;
    background-color: white;
    text-transform: uppercase;
    z-index: 1;
    &__desktop-list-item{
        display: none;
    }
    &__logo{
        display: flex;
        align-items: center;
    }
    &__logo-text{
        margin-left: 0.5em;
        font-size: 1.7rem;
        text-transform: uppercase;
    }
    &__logo-color{
        font-weight: 700;
        color: $main-color;
    }
    .fa-tree{
        font-size: 3rem;
        transition: color 0.3s;
        &:hover{
            color: $main-color;
        }
    }
    &__burger-btn{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4em;
        width: 45px;
        height: 35px;
        cursor: pointer;
        z-index: 11;
   
    }
    &__bars, 
    &__bars::before, 
    &__bars::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $black-color;
        border-radius: 8px;
        transition: 0.3s;
        z-index: 1;
    }
    
    &__bars::before{
        transform: translateY(-13px);
    }
    &__bars::after{
        transform: translateY(13px);
    }
    &__active{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
        &::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        &::after{
            transform: rotate(-45deg) translate(35px, 35px);
        }
    }

    &__mobile-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(150%);
        font-size: 2.4rem;
        background-color: $pure-white;
        transition: transform 0.3s;
        z-index: 10;
    }
    &__mobile-list-active{
        transform: translateX(0);
    }
    &__mobile-list-item{
        position: relative;
        padding: 1em 2em;
        text-decoration: none;
        text-transform: uppercase;
        color: $black-color;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: $main-color;
            transform: scale(0);
            transition: transform 0.3s;
        }
        &:hover::before{
            transform: scale(1);
        }
    }


}

//header
.header{
    position: relative;
    overflow-x: auto;
    &::-webkit-scrollbar{
        display: none;
    }
    &__slider{
        position: relative;
        display: flex;
        transition: transform 0.3s;
    }
    &__slider-img{
        min-width: 100%;
        height: 60vh;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
    &__shadow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        z-index: 0;
    }

    &__text{
        position: absolute;
        top: 50%; 
        left: 50%;
        padding: 1em;
        width: 100%;
        transform: translate(-50%, -50%);
        color: $pure-white;
        text-align: center;
        z-index: 1;
    }
    &__title{
        margin-bottom: 0.3em;
        font-size: 2.4rem;
        text-transform: uppercase;
    }
    &__title-span{
        color: $main-color;
    }
    &__description{
        font-size: 1.7rem;
    }
    
    &__btn{
        padding: 0.7em 1.4em;
        margin-top: 0.5em;
        font-size: 1.4rem;
        background-color: $main-color;
        border-radius: 8px;
        cursor: pointer;
    }
    &__circle-box{
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-self: flex-end;
        z-index: 1;
    }
    &__circle{
        margin-right: 1em;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid $pure-white;
        cursor: pointer;
    }
    &__circle-active{
        background-color: rgba(255, 255, 255, 0.3);
    }
}

//main
.main{
    .about-us{
        &__box{
            margin-bottom: 5em;
        }
        &__img{
            width: 100%;
            margin-bottom: 0.6em;
        }
     
        &__title{
            margin-bottom: 0.2em;
            font-size: 1.7rem;
        }
        &__text{
            font-size: 1.4rem;
            line-height: 1.3em;
        }
        &__icons{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__icons-box{
            padding: 2rem 1em;
            margin: 2rem;
            border: 2px solid $main-color;
            flex: 1 1 20rem;
            text-align: center;
            transition: transform 0.3s, background-color 0.3s;
            i{
                font-size: 3rem;
                color: $main-color;
            }
        }
        &__icons-number{
            font-size: 2.3rem;
            font-weight: 700;
            transition: color 0.3s;
        }
        &__icons-text{
            margin: 0.5em 0;
            font-size: 1.7rem;
            color: #777;
            transition: color 0.3s;
        }

        &__icons-box:hover{
            transform: scale(1.1);
            border: none;
            background-color: $main-color;
            .about-us__icons-number{
                color: $pure-white;
            }
            .about-us__icons-text{
                color: $pure-white;
            }
            i{
                color: $pure-white;
            }
        }
    }

    .location{
        position: relative;
        @include heroImage('/dist/img/test2-2.jpg');
        &__shadow-background{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
        }
        &__shadow{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            padding: 3em;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            z-index: 20;
            iframe{
                display: none;
                position: relative;
                width: 100%;
                max-width: 1200px;
                height: 800px;
                max-height: 85%;
                border-radius: 8px;
            }
            .fa-xmark{
                position: absolute;
                top: 25px;
                right: 25px;
                font-size: 6rem;
                color: $pure-white;
                cursor: pointer;
            }
        }
        &__close-btn{
            position: fixed;
            top: 35px;
            right: 10px;
            width: 40px;
            height: 40px;
           // font-size: 6rem;
            z-index: 20;
        }
        &__xmark{
            position: relative;
            width: 100%;
            height: 3px;
            transform: rotate(45deg);
            background-color: $pure-white;
            cursor: pointer;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: rotate(-90deg);
                background-color: $pure-white;
            }
        }
        &__open-shadow{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__open-map{
            display: inline;
        }


        &__close{
            display: none;
        }
        &__container{
            position: relative;
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
        }
        .wrapper{
            overflow-x: auto;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .section-heading{
            color: $pure-white;
        }
        &__boxes{
            display: flex;
            padding: 1.5em 1em;
            transition: transform 0.3s;
           
        }
        &__box{
            margin-right: 4em;
            min-width: 100%;
            box-shadow: 4px 5px 10px #3e3e3e;
            background-color: $pure-white;
            border-radius: 8px;
            overflow: hidden;
            transition: transform 0.3s;
            &:hover{
                transform: scale(0.95);
            }
        }
        &__box-content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__img{
            width: 100%;
        }
        &__box-img{
            position: relative;
        }
        &__line{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 40%;
            height: 3px;
            background-color: $main-color;
            border-radius: 8px;
        }
        &__box-title{
            margin-top: 0.7em;
            font-size: 2.2rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__box-text{
            padding: 1em;
            font-size: 1.6rem;
            line-height: 22px;
        }
        &__box-btn{
            margin-bottom: 1em;
            padding: 0.7em 1.4em;
            background: none;
            border: none;
            border-radius: 8px;
            background-color: $main-color;
            color: $pure-white;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 1.5rem;
            text-transform: uppercase;
            cursor: pointer;
        }
        &__arrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            transform: rotate(45deg);
            cursor: pointer;
        }

        &__left-arrow{
            left: -20px;
            border-left: 4px solid $main-color;
            border-bottom: 4px solid $main-color;
           
        }
        &__right-arrow{
            right: -20px;
            border-top: 4px solid $main-color;
            border-right: 4px solid $main-color;
        }
    }
    .offer{
        &__card{
            position: relative;
            margin-bottom: 3em;
            height: 450px;
            color: $pure-white;
            perspective: 1000px;
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.05);
            }
        }
        &__card:first-child{
            .offer__card-img{
                background-image: $green-gradient-color, url('/dist/img/location1.jpg');
            }
            .offer__card-details-btn{
                background-color: $main-color;
            }
        }
        &__card:nth-child(2){
            .offer__card-img{
                background-image: $yellow-gradient-color, url('/dist/img/location1.jpg');
            }
            .offer__card-details{
                background-image: $yellow-gradient-color;
            }
            .offer__card-details-btn{
                background-color: orange;
            }
        }
        &__card:last-child{
            .offer__card-img{
                background-image: $green-gradient-color, url('/dist/img/location1.jpg');
            }
            .offer__card-details-btn{
                background-color: $main-color;
            }
        }
        &__card-img{
            display: flex;
            flex-direction: column;
            padding: 3em;
            height: 100%;
            color: $pure-white;
            background-size: cover;
            border-radius: 8px;
            transition: transform 0.6s, opacity 0.6s;
     
        }
        &__card-title{
            font-size: 2.2rem;
            text-align: center;
            text-transform: uppercase;
        }
        &__card-info{
            margin-top: auto;
            margin-left: auto;
            font-size: 1.6rem;
            cursor: pointer;
            z-index: 1;
        }
        &__card-details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform: rotateY(180deg);
            background-image: $green-gradient-color;
            border-radius: 8px;
            opacity: 0;
            transition: transform 0.6s, opacity 0.6s;
        }
        &__card-details-title{
            position: absolute;
            top: 30px;
            left: 50%;
	        transform: translateX(-50%);
            font-size: 2.2rem;
            text-align: center;
            text-transform: uppercase;
        }
        &__card-details-list{
            margin: 0 auto;
            width: 80%;
            list-style: none;
            font-size: 1.6rem;
        }
        &__card-details-list-item{
            padding: 1em;
            text-align: center;
            border-bottom: 1px solid #eee;
            &:last-child{
                border: none;
            }
        }
        &__card-details-btns{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            padding: 0 2em;
            width: 100%;


        }
        &__card-details-btn{
            padding: 1em;
            margin: 0 0.5em;
            width: 100%;
            border: none;
            font-size: 1.4rem;
            color: $pure-white;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 8px;
            cursor: pointer;
        }
        &__rotate-card{
            .offer__card-img{
                transform: rotateY(-180deg);
                opacity: 0;
            }
            .offer__card-details{
                transform: rotateY(0);
                opacity: 1;
            }
        }
        .fa-arrow-left{
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: 2.4rem;
            cursor: pointer;
        }
        &__card-arrow{
            position: absolute;
            top: 20px;
            left: 20px;
        }
        &__card-left-arrow{
            position: relative;
            width: 21px;
            height: 21px;
            border-top: 4px solid $pure-white;
            border-left: 4px solid $pure-white;
            transform: rotate(-45deg);
            border-radius: 2px;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $pure-white;
                transform: rotate(45deg);
                border-radius: 2px;
            }
        }
        &__card-cross{
            position: absolute;
            top: 25px;
            right: 15px;
            width: 35px;
            height: 35px;

        }
        &__card-crossline{
            position: relative;
            width: 100%;
            height: 3px;
            background-color: $pure-white;
            transform: rotate(45deg);
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $pure-white;
                transform: rotate(90deg);
            }
        }
    }
}

//-------------------------------------------------------------------------------------------------Media------------------------------------------------------------------------------------------
//max-width

//min-width
@media(min-width: 576px){
    .main{
        .about-us{
            &__box{
                display: flex;
                justify-content: space-between;
            }
            &__text-box{
                width: 55%;
            }
            &__text-box--right{
                text-align: right;
            }
            &__img{
                width: 40%;
                max-height: 300px;
            }
            &__img--right{
                order: 1;
            }
            &__text--right{
                text-align: right;
            }
        }
  
    }
}
@media(min-width: 768px){
    .header{
        &__title{
            font-size: 3.2rem;
        }
        &__description{
            font-size: 1.9rem;
        }
    }
    .main{
        .location{
            &__boxes{
                padding-right: 5em;
            }
            &__box{
                min-width: 50%;
            }
        }
        .offer{
            &__cards{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            &__card{
                margin-bottom: 4em;
                width: 47%;
                &:first-child{
                    margin-right: 4em;
                }
            }
        }
    }
}
@media(min-width: 992px){
    .navbar{
        &__burger-btn{
            display: none;
        }
        &__desktop-list{
            display: flex;
        }
        &__desktop-list-item{
            display: list-item;
            position: relative;
            margin-right: 2em;
            padding: 0 0.5em 0em 0.5em;
            color: $black-color;
            font-size: 1.5rem;
            text-decoration: none;
            list-style: none;
            transition: color 0.3s;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 100%;
                height: 2px;
                background-color: $main-color;
                transform: scaleX(0);
                transition: transform 0.3s;
            }
            &:hover::before{
                transform: scaleX(1);
            }
            &:hover{
                color: $main-color;
            }
        }
        &__logo{
            padding: 0;
        }
    }
    .main{
        .about-us{
            &__title{
                font-size: 2rem;
            }
            &__text{
                font-size: 1.7rem;
            }
        }
        .location{
            &__boxes{
                padding-right: 9.2em;
            }
            &__box{
                min-width: 33.33%;
            }
        }
        .offer{
            &__card{
                width: 30%;
                &:nth-child(2){
                    margin-right: 4em;
                }
            }
        }
    }
}

@media(min-width: 1200px){
    .navbar{
        justify-content: space-around;
        &__desktop-list-item{
            font-size: 1.6rem;
        }
    }
    .header{
        align-items: space-between;
        &__box{
            margin-left: 10em;
        }
        &__text{
            margin-left: 12em;
            text-align: left;
        }
        &__title{
            font-size: 3.6rem;
            
        }
        &__description{
           font-size: 2.3rem;
        }
    }
    .main{
        .about-us{
           &__text{
            align-items: center;
           }
           &__icons-text{
            font-size: 1.8rem;
           }
        }
        .location{
            iframe{
                max-height: 90%;
            }
        }
    }
}

@media(min-width: 1300px){
    .main{
        .location{
            &__left-arrow{
                left: -35px;
            }
            &__right-arrow{
                right: -35px;
            }
        }
    }
}